In [1]:
import pandas as pd
import pickle
import numpy as np

In [4]:
df=pickle.load(open('t20_df_3.pkl', 'rb'))

In [6]:
X=df.drop(columns=['runs_x'])
y=df['runs_x']

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [8]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
60,Australia,Sri Lanka,Melbourne,75,60,10,7.500000,31.0
2825,Bangladesh,Sri Lanka,Colombo,103,35,5,7.270588,31.0
9013,Pakistan,New Zealand,Dubai,68,58,9,6.580645,39.0
45640,New Zealand,Sri Lanka,Mount Maunganui,114,39,9,8.444444,35.0
7794,Bangladesh,West Indies,Lauderhill,131,33,6,9.034483,34.0
...,...,...,...,...,...,...,...,...
22226,New Zealand,West Indies,Auckland,131,15,5,7.485714,35.0
20850,India,West Indies,London,71,45,6,5.680000,24.0
49278,India,West Indies,Mumbai,120,36,9,8.571429,43.0
18165,New Zealand,England,Manchester,23,89,8,4.451613,23.0
7556,Bangladesh,West Indies,St Kitts,124,26,4,7.914894,25.0

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [13]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'),['batting_team', 'bowling_team', 'city'])
]
,remainder='passthrough')

In [20]:
pipe=Pipeline(steps=[
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

In [21]:
pipe.fit(X_train, y_train)
y_pred=pipe.predict(X_test)
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9860079942935598
1.678112712074962

In [16]:
pickle.dump(pipe, open('pipe.pkl', 'wb'))